h1{
    font-family: Helvetica;
}

#flex{
    align-items: flex-end;
    font-size: 1.15em;
    display: flex;
    font-family: Helvetica;
    height: 0;
    justify-content: flex-end;
}
#flex1{
    color:black;
    text-decoration: black;
    margin: 2px;
}
#flex2{
    color: black;
    text-decoration: black;
    margin: 25px;
}
#flex3 {
    color: black;
    text-decoration: black;
}
#text{
    position: absolute; top:150px;
    color: white;
    font-family: Helvetica;
    font-weight: bolder;
}
#backg{
    background-image: url("https://img.europapress.es/fotoweb/fotonoticia_20180115164623_640.jpg");
    height: 380px;
}
.item-a{
    grid-area:box;
}
.item-b {
    grid-area: logo;
}
#container {
    display: grid;
}